// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body #facy div p{
	color: black !important;
}

p{
	color: black;
}

.button-group{
	margin-top: 1em
}

h1 {
	color: 	#3583B8;
}

.tweet{
	background-color: white;
	border: 6px solid blue;
	padding: 30px;
	margin: 5px;
	border-radius: 20px
}

h4 {
	color: blue;
}